@import url('ripple.css');

* {
    margin: auto;
}

html {
    overflow-x: hidden;
    -webkit-tap-highlight-color: #0000;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    margin: 0;
    padding: 0;
    letter-spacing: .4px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-transform: capitalize;
}

img{
    width: 100%;
    height: 100%;
}


.btn {
    text-transform: uppercase;
    letter-spacing: .7px;
}

.navbar-toggler:focus,.btn:focus {
    box-shadow: none !important;
    outline: none !important;
}

.pointer {
    cursor: pointer;
    -webkit-tap-highlight-color: #0000;
}

::selection,
::-moz-selection {
    background: inherit;
    color: inherit;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.cantainer {
    display: flex
}


.bg-black{
    background: #161616!important;
}

.relative{
    position: relative;
}

section{
    min-height: 100vh;
}
/*================================     HEADER    =====================================*/
#home {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(22, 22, 22, .3) 0, rgba(22, 22, 22, .7) 75%, #161616 100%), url(../img/bg-masthead.jpg);
    background-position: center;
    background-size: cover;
    background-origin: border-box;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-repeat: no-repeat;
}

.garyscale {
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent !important;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    letter-spacing: 1rem;
    font-size: 6.5rem;
    font-weight: 400;
}

@media screen and (max-width: 992px) {
    .garyscale{
        font-size: 3rem;
    }
}


#home .btn.ripple {
    background: #fff2;
}

#home .btn.ripple:focus {
    box-shadow: none;
}
/*================================     #ABOUT    =====================================*/
#about{
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%);
    height: 100vh;
}

#about .container,#projects .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    top: 0;
    left: 0
}

/* .garyscale-text{
    background: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, 0.301));
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text;
} */

.img-rel{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/*================================     #PORTFOLIO    =====================================*/
#projects{
    padding-top: 80px;
}

/*================================     #CONTACTS    =====================================*/
#contacts{
    background: linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%),url(../img/bg-signup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    margin-top: 100px;
}

.padding{
    padding: 12px 2rem;
}

#contacts>.container{
    min-height: 100vh;
}

#contacts .adjust-mt{
    margin-top: 2.5rem !important;
}

.letter-space{
    letter-spacing: 2px !important
}

.bb{
    border-bottom: .25rem solid #64a19d;
}

#contacts .divider{
    border: none;
    background: #64a19d;
    height: .25rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/*  */

footer{
    min-height: 25vh;
    background: #161616;
}

footer a{
    color: rgba(255,255,255,.3) !important;
    background: rgba(255,255,255,.1);
    text-decoration: none;
    width: 50px !important;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

footer a:hover{
    text-decoration: none;
    color: #fff !important;
}