.ripple {
    position: relative !important;
    overflow: hidden !important;
    z-index: 2;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.ripple-an {
    background: #f7f7f7;
    opacity: .3;
    transition: opacity .5s linear;
    z-index: 1;
    position: absolute;
    border-radius: 100%;
    animation: ripple .3s cubic-bezier(.1, .1, .1, .1) forwards;
    -webkit-animation: ripple .3s cubic-bezier(.1, .1, .1, .1) forwards;
    transform: scale(.5);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -ms-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
}

@-webkit-keyframes ripple {
    100% {
        transform: scale(2.4);
        -webkit-transform: scale(2.4);
        -moz-transform: scale(2.4);
        -ms-transform: scale(2.4);
        -o-transform: scale(2.4);
    }
}

@keyframes ripple {
    100% {
        transform: scale(2.4);
        -webkit-transform: scale(2.4);
        -moz-transform: scale(2.4);
        -ms-transform: scale(2.4);
        -o-transform: scale(2.4);
    }
}