.ripple {
    position: relative !important;
    overflow: hidden !important;
    z-index: 2;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.ripple-an {
    background: #f7f7f7c9;
    opacity: 1;
    transition: opacity 1s;
    width: 0px;
    z-index: 1;
    position: absolute;
    border-radius: 100%;
    animation: ripple .2s ease-in forwards;
    -webkit-animation: ripple .2s ease-in forwards;
    transform: scale(.2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transform: scale(.2);
    -moz-transform: scale(.2);
    -ms-transform: scale(.2);
    -o-transform: scale(.2);
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
}

@-webkit-keyframes ripple {
    100% {
        transform: scale(3);
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
    }
}

@keyframes ripple {
    100% {
        transform: scale(3);
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
    }
}